.rubrics.easternOrthodox {
  --fish-color: black;
  --fish-background: skyblue;
  --strictFast-color: white;
  --strictFast-background: darkviolet;
  --oil-color: white;
  --oil-background: #bab86c;
  --wine-color: white;
  --wine-background: #990012;
  --dairy-color: black;
  --dairy-background: #fbdb65;
  --caviar-color: black;
  --caviar-background: #ffa07a;
  --noFast-color: black;
  --noFast-background: white;
}

  .rubrics.easternOrthodox .calendar-cell-heading.fast_fish,
  .rubrics.easternOrthodox .day-item-detail.fast_fish {
    color: var(--fish-color);
    background-color: var(--fish-background);
  }

  .rubrics.easternOrthodox .calendar-cell-heading.fast_strict,
  .rubrics.easternOrthodox .day-item-detail.fast_strict {
    color: var(--strictFast-color);
    background-color: var(--strictFast-background);
  }

  .rubrics.easternOrthodox .calendar-cell-heading.fast_oil,
  .rubrics.easternOrthodox .day-item-detail.fast_oil {
    color: var(--oil-color);
    background-color: var(--oil-background);
  }

  .rubrics.easternOrthodox .calendar-cell-heading.fast_wine,
  .rubrics.easternOrthodox .day-item-detail.fast_wine {
    color: var(--wine-color);
    background-color: var(--wine-background);
  }

  .rubrics.easternOrthodox .calendar-cell-heading.fast_dairy,
  .rubrics.easternOrthodox .day-item-detail.fast_dairy {
    color: var(--dairy-color);
    background-color: var(--dairy-background);
  }

  .rubrics.easternOrthodox .calendar-cell-heading.fast_caviar,
  .rubrics.easternOrthodox .day-item-detail.fast_caviar {
    color: var(--caviar-color);
    background-color: var(--caviar-background);
  }

  .rubrics.easternOrthodox .calendar-cell-heading.fast_none,
  .rubrics.easternOrthodox .day-item-detail.fast_none {
    color: var(--noFast-color);
    background-color: var(--noFast-background);
  }

  .rubrics.easternOrthodox .day-item-detail.fast_none,
  .rubrics.easternOrthodox .day-item-detail.highlight {
    font-weight: bold;
  }
