.rubrics.easternOrthodox {
  --fish-color: black;
  --fish-background: skyblue;
  --strictFast-color: white;
  --strictFast-background: darkviolet;
  --oil-color: white;
  --oil-background: #bab86c;
  --wine-color: white;
  --wine-background: #990012;
  --dairy-color: black;
  --dairy-background: #fbdb65;
  --caviar-color: black;
  --caviar-background: #ffa07a;
  --noFast-color: black;
  --noFast-background: white;
}

  .rubrics.easternOrthodox .calendar-cell-heading.rule_fast_fish,
  .rubrics.easternOrthodox .day-item-detail.rule_fast_fish {
    color: var(--fish-color);
    background-color: var(--fish-background);
  }

  .rubrics.easternOrthodox .calendar-cell-heading.rule_fast_strict,
  .rubrics.easternOrthodox .day-item-detail.rule_fast_strict {
    color: var(--strictFast-color);
    background-color: var(--strictFast-background);
  }

  .rubrics.easternOrthodox .calendar-cell-heading.rule_fast_oil,
  .rubrics.easternOrthodox .day-item-detail.rule_fast_oil {
    color: var(--oil-color);
    background-color: var(--oil-background);
  }

  .rubrics.easternOrthodox .calendar-cell-heading.rule_fast_wine,
  .rubrics.easternOrthodox .day-item-detail.rule_fast_wine {
    color: var(--wine-color);
    background-color: var(--wine-background);
  }

  .rubrics.easternOrthodox .calendar-cell-heading.rule_fast_dairy,
  .rubrics.easternOrthodox .day-item-detail.rule_fast_dairy {
    color: var(--dairy-color);
    background-color: var(--dairy-background);
  }

  .rubrics.easternOrthodox .calendar-cell-heading.rule_fast_caviar,
  .rubrics.easternOrthodox .day-item-detail.rule_fast_caviar {
    color: var(--caviar-color);
    background-color: var(--caviar-background);
  }

  .rubrics.easternOrthodox .calendar-cell-heading.rule_fast_none,
  .rubrics.easternOrthodox .day-item-detail.rule_fast_none {
    color: var(--noFast-color);
    background-color: var(--noFast-background);
  }

  .rubrics.easternOrthodox .calendar-cell-content.rule_fast,
  .rubrics.easternOrthodox .day-item-detail.rule_fast,
  .rubrics.easternOrthodox .day-item-detail.highlight {
    font-weight: bold;
  }

  .rubrics.easternOrthodox .day-item-detail.greatFeast::before {
    font-family: typicon;
    color: red;
    content: "6";
  }

  .rubrics.easternOrthodox .day-item-detail.vigil::before {
    font-family: typicon;
    color: red;
    content: "5";
  }

  .rubrics.easternOrthodox .day-item-detail.polyeleos::before {
    font-family: typicon;
    color: red;
    content: "4";
  }

  .rubrics.easternOrthodox .day-item-detail.doxology::before {
    font-family: typicon;
    color: red;
    content: "3";
  }

  .rubrics.easternOrthodox .day-item-detail.sixStichera::before {
    font-family: typicon;
    color: black;
    content: "2";
  }
