<ng-container *ngIf="result">
  <h1 id="tableLabel">
    <span class="btn-group">
      <a routerLink="/calendar/{{calendarKey}}/month/{{ prevMonth.getFullYear() }}/{{ prevMonth.getMonth() + 1 }}" class="btn btn-outline-dark btn-sm">
        <i class="bi bi-chevron-left"></i>
      </a>
      <a routerLink="/calendar/{{calendarKey}}/month/{{ nextMonth.getFullYear() }}/{{ nextMonth.getMonth() + 1 }}" class="btn btn-outline-dark btn-sm">
        <i class="bi bi-chevron-right"></i>
      </a>
    </span>
    &nbsp;
    {{ result.monthName }} {{ result.year }}
  </h1>

  <script>
  </script>

  <div *ngIf="result" class="rubrics {{result.traditionKey}} {{result.calendarKey}}">
    <table class="calendar-table">
      <thead>
        <tr>
          <th><span class="d-block d-sm-none">Sun</span><span class="d-none d-sm-block">Sunday</span></th>
          <th><span class="d-block d-sm-none">Mon</span><span class="d-none d-sm-block">Monday</span></th>
          <th><span class="d-block d-sm-none">Tue</span><span class="d-none d-sm-block">Tuesday</span></th>
          <th><span class="d-block d-sm-none">Wed</span><span class="d-none d-sm-block">Wednesday</span></th>
          <th><span class="d-block d-sm-none">Thu</span><span class="d-none d-sm-block">Thursday</span></th>
          <th><span class="d-block d-sm-none">Fri</span><span class="d-none d-sm-block">Friday</span></th>
          <th><span class="d-block d-sm-none">Sat</span><span class="d-none d-sm-block">Saturday</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of result.weeks">
          <td *ngFor="let day of week.days" routerLink="{{getDayRouterLink(day)}}" class="{{getDateClasses(day)}}">
            <div class="calendar-cell">
              <div class="calendar-cell-heading {{ day.headingClass }}">
                {{ day.day }}
              </div>
              <div *ngIf="day.headlines.length > 0" class="calendar-cell-headlines">
                <div *ngFor="let headline of day.headlines" class="calendar-cell-headline calendar-cell-content {{ headline.class }}"
                     data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ headline.elaboration }}">
                  {{ headline.summary }}
                </div>
              </div>
              <div class="calendar-cell-filler">
              </div>
              <div *ngIf="day.items.length > 0" class="calendar-cell-items">
                <div *ngFor="let item of day.items" class="calendar-cell-item calendar-cell-content {{ item.class }}"
                     data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ item.elaboration }}">
                  {{ item.summary }}
                </div>
              </div>
              <div class="calendar-cell-filler">
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-container *ngIf="!result">
  <p>An error occurred while loading the calendar. Please try refreshing this page.</p>
</ng-container>
