.calendar-table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  table-layout: fixed;
  border: none;
  border-color: #000;
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
  width: 100%;
  font-size: 70%;
}

  .calendar-table th {
      text-align: center;
      font-weight: bold;
  }

.calendar-cell-heading,
.calendar-cell-headlines,
.calendar-cell-items,
.calendar-cell-filler {
  cursor: pointer;
}

.calendar-cell-heading {
  border: 1px solid #000;
  border-bottom: 1px solid #bbb;
  font-weight: bold;
  text-align: right;
}

.calendar-cell-headlines {
  border: 1px solid #000;
  border-top: #bbb;
  border-bottom: 1px solid #bbb;
  text-align: center;
}

.calendar-cell-items {
  border: 1px solid #000;
  border-top: #bbb;
  height: 5em;
  text-align: center;
}

.calendar-cell-item:not(:first-child) {
  border-top: 1px solid #bbb;
}

.calendar-cell-filler {
  border: 1px solid #000;
  border-top: #bbb;
  height: 5em;
  text-align: center;
}

.calendar-cell-outside-month {
    background-color: #e4e4e4;
}

.calendar-cell-today {
  background-color: #ffffc2;
}
