<section *ngIf="result">
  <mat-toolbar class="calendar-navbar">
    <a mat-icon-button routerLink="/calendar/{{calendarKey}}/day">
      <mat-icon>calendar_today</mat-icon>
    </a>
    <a mat-icon-button routerLink="/calendar/{{calendarKey}}/day/{{ prevDay.getFullYear() }}/{{ prevDay.getMonth() + 1 }}/{{ prevDay.getDate() }}" aria-label="Previous day">
      <mat-icon>chevron_left</mat-icon>
    </a>
    <a mat-icon-button routerLink="/calendar/{{calendarKey}}/day/{{ nextDay.getFullYear() }}/{{ nextDay.getMonth() + 1 }}/{{ nextDay.getDate() }}" aria-label="Next day">
      <mat-icon>chevron_right</mat-icon>
    </a>
    <span style="width: 1em !important;"></span>
    <input matInput formControlName="dateShownInput" [matDatepicker]="dateShownPicker" [value]="this.dateShown" (dateChange)="this.onDateChange($event);" class="calendar-nav-dateinput" />
    <span>{{result.day}} {{result.monthName}} {{result.year}}</span>
    <mat-datepicker #dateShownPicker></mat-datepicker>
    <a mat-icon-button (click)="dateShownPicker.open()">
      <mat-icon>today</mat-icon>
    </a>
    <span style="flex: 1 1 auto;"></span>
    <a mat-icon-button routerLink="/calendar/{{calendarKey}}/month/{{result.year}}/{{result.month}}">
      <mat-icon>calendar_month</mat-icon>
    </a>
  </mat-toolbar>

  <div class="rubrics {{result.traditionKey}} {{result.calendarKey}}">
    <span *ngFor="let item of result.items" class="{{item.class}} day-item-detail">{{item.title}}</span>
  </div>
</section>

<div *ngIf="!result" class="page-center">
  <strong>Loading...&nbsp;&nbsp;</strong>
  <div class="spinner-border" role="status" aria-hidden="true"></div>
</div>
