@import "/src/variables.scss";

.calendar-nav-bar {
  display: table;
}

.calendar-nav-element {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}

.calendar-nav-filler {
  display: table-cell;
  width: 100%;
}

.calendar-nav-element + .calendar-nav-element {
  padding-left: 1em;
}

.day-item-detail {
  margin-left: .25em;
  margin-right: .25em;
  margin-top: .125em;
  margin-bottom: .125em;
  padding-top: .25em;
  padding-bottom: .25em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #ccc;
  border-radius: 30px;
  display: inline-block;
}
