@import "/src/variables.scss";

.calendar-navbar {
    background-color: unset;
}

.calendar-nav-dateinput {
  height: 100%;
  width: 0px;
  border: none;
  margin: 0;
  padding: 0;
}

.day-item-detail {
  margin-left: .25em;
  margin-right: .25em;
  margin-top: .125em;
  margin-bottom: .125em;
  padding-top: .25em;
  padding-bottom: .25em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #ccc;
  border-radius: 30px;
  display: inline-block;
}
