/* You can add global styles to this file, and also import other style files */

@import url("assets/easternOrthodox.css");


.button {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  /*margin: 4px 2px;*/
  cursor: pointer;
}
