/* You can add global styles to this file, and also import other style files */

.calendar-table {
  font-family: sans-serif;
  table-layout: fixed;
  border: none;
  border-color: #000;
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
  width: 100%;
  font-size: 80%;
}

.calendar-cell-heading {
  border: 1px solid #000;
  border-bottom: 1px solid #aaa;
  font-weight: bold;
  text-align: right;
  padding: 0;
}

.calendar-cell-headlines {
  border: 1px solid #000;
  text-align: center;
  padding: 0;
}

.calendar-cell-items {
  border: 1px solid #000;
  height: 5em;
  text-align: center;
  padding: 0;
}

.calendar-cell-text {
  padding: 1px;
}

.calendar-cell-filler {
  border: 1px solid #000;
  height: 5em;
  text-align: center;
  padding: 0;
}
