<ng-container *ngIf="result">
  <h1 id="tableLabel">
    <span class="btn-group">
      <a routerLink="/calendar/{{calendarKey}}/day/{{ prevDay.getFullYear() }}/{{ prevDay.getMonth() + 1}}/{{ prevDay.getDate() }}" class="btn btn-outline-dark btn-sm">
        <i class="bi bi-chevron-left"></i>
      </a>
      <a routerLink="/calendar/{{calendarKey}}/day/{{ nextDay.getFullYear() }}/{{ nextDay.getMonth() + 1 }}/{{ nextDay.getDate() }}" class="btn btn-outline-dark btn-sm">
        <i class="bi bi-chevron-right"></i>
      </a>
    </span>
    &nbsp;
    <a routerLink="{{getMonthRouterLink()}}" class="btn btn-outline-dark btn-sm">
      <i class="bi bi-calendar3"></i>
    </a>
    &nbsp;
    {{ result.monthName }} {{ result.day }}, {{ result.year }}
  </h1>

  <script>
  </script>

  <div *ngIf="result" class="rubrics  {{result.traditionKey}} {{result.calendarKey}}">
    <div>
      <div *ngFor="let item of result.items" class="day-item-detail {{ item.class }}"
           data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ item.elaboration }}">

        {{ item.title }}
      </div>
    </div>
  </div>
</ng-container>

<div *ngIf="!result" class="page-center">
  <strong>Loading...&nbsp;&nbsp;</strong>
  <div class="spinner-border" role="status" aria-hidden="true"></div>
</div>
