.calendar-table {
  font-family: sans-serif;
  table-layout: fixed;
  border: none;
  border-color: #000;
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
  width: 100%;
  font-size: 80%;
}

.calendar-cell-heading {
  border: 1px solid #000;
  border-bottom: 1px solid #aaa;
  font-weight: bold;
  text-align: right;
}

.calendar-cell-headlines {
  border: 1px solid #000;
  text-align: center;
}

.calendar-cell-items {
  border: 1px solid #000;
  height: 5em;
  text-align: center;
}

.calendar-cell-item:not(:first-child) {
  border-top: 1px solid #000;
}

.calendar-cell-filler {
  border: 1px solid #000;
  height: 5em;
  text-align: center;
}
