<section *ngIf="result">
  <h1 class="calendar-nav-bar">
    <div class="calendar-nav-element">
      <a mat-icon-button routerLink="/calendar/{{calendarKey}}/month/{{ prevMonth.getFullYear() }}/{{ prevMonth.getMonth() + 1 }}" aria-label="Previous day">
        <mat-icon>chevron_left</mat-icon>
      </a>
      <a mat-icon-button routerLink="/calendar/{{calendarKey}}/month/{{ nextMonth.getFullYear() }}/{{ nextMonth.getMonth() + 1 }}" aria-label="Next day">
        <mat-icon>chevron_right</mat-icon>
      </a>
    </div>
    <div class="calendar-nav-element">
      <a mat-stroked-button routerLink="/calendar/{{calendarKey}}">
        Today
      </a>
    </div>
    <div class="calendar-nav-element">
      {{ result.monthName }} {{ result.year }}
    </div>
  </h1>

  <div *ngIf="result" class="rubrics {{result.traditionKey}} {{result.calendarKey}}">
    <div class="calendar-table">
      <div class="calendar-heading-row compact">
        <div class="calendar-heading-sizer"></div>
        <div class="calendar-heading">Sun</div>
        <div class="calendar-heading">Mon</div>
        <div class="calendar-heading">Tue</div>
        <div class="calendar-heading">Wed</div>
        <div class="calendar-heading">Thu</div>
        <div class="calendar-heading">Fri</div>
        <div class="calendar-heading">Sat</div>
      </div>
      <div class="calendar-heading-row">
        <div class="calendar-heading-sizer"></div>
        <div class="calendar-heading">Sunday</div>
        <div class="calendar-heading">Monday</div>
        <div class="calendar-heading">Tuesday</div>
        <div class="calendar-heading">Wednesday</div>
        <div class="calendar-heading">Thursday</div>
        <div class="calendar-heading">Friday</div>
        <div class="calendar-heading">Saturday</div>
      </div>
      <div *ngFor="let week of result.weeks" class="calendar-row">
        <div class="calendar-cell-sizer"><br/><br/><br/><br/><br/></div>
        <div *ngFor="let day of week.days" routerLink="{{getDayRouterLink(day)}}" class="{{getDateClasses(day)}} calendar-cell">
          <div class="calendar-cell-heading {{ day.headingClass }}">
            {{ day.day }}
          </div>
          <div *ngIf="day.headlines.length > 0" class="calendar-cell-body calendar-cell-headlines">
            <div *ngFor="let headline of day.headlines" class="calendar-cell-headline calendar-cell-content {{ headline.class }}"
                  matTooltip="{{ headline.elaboration }}">
              {{ headline.summary }}
            </div>
          </div>
          <div class="calendar-cell-body calendar-cell-filler">
          </div>
          <div *ngIf="day.items.length > 0" class="calendar-cell-body calendar-cell-items">
            <div *ngFor="let item of day.items" class="calendar-cell-item calendar-cell-content {{ item.class }}"
                  matTooltip="{{ item.elaboration }}">
              {{ item.summary }}
            </div>
          </div>
          <div class="calendar-cell-body calendar-cell-filler">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="!result" class="page-center">
  <strong>Loading...&nbsp;&nbsp;</strong>
  <div class="spinner-border" role="status" aria-hidden="true"></div>
</div>
