/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

@import url("assets/rubrics.css");
@import url("assets/easternOrthodox.css");
@import url("assets/lsb3Year.css");

.page-center {
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0 0 0 0;
  position: absolute;
}
